@model CustomerBooking.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Beds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Beds)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Quality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Quality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
