@model IEnumerable<CustomerBooking.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form asp-controller="Rooms" asp-action="Index" method="get">
    <p>
        Number of rooms: <input type="text" name="searchString" />
        From: <input type="date" name="fro" />
        Too: <input type="date" name="too" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Beds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Beds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-controller="Bookings" asp-action="Create" asp-route-id="@item.RoomId">Book</a>
            </td>
        </tr>
}
    </tbody>
</table>
